<div id="footer">

  <!--width_area-->
  <div class="width_area">
    <ul>
      <li><a href="/introduction/sub_05.asp">찾아오시는 길</a></li>
      <li><a href="/etc/sub_02.asp">이용약관</a></li>
      <li><a href="/etc/sub_04.asp">이메일무단수집거부</a></li>
      <li><a href="/etc/sub_03.asp" class="strong">개인정보처리방침</a></li>
      <li class="blog"><a href="https://blog.naver.com/yiorkr" target="_blank">블로그 바로가기</a></li>
    </ul>

    <p class="float_l overflow pl20">
      본관: 대구광역시 서구 서대구로 30(내당동 230-6번지) <br>
      별관1(전기관): 대구광역시 서구 서대구로 37 (내당동 245-16번지 3층,4층)<br>
      별관2(IT 관) : 대구광역시 서구 서대구로 7길2 (내당동 245-4번지 2층)<br>
      전화 :053-555-1333 / 팩스 : 053-566-3318  /  이메일 :yiorkr@naver.com
    </p>

    <p class="float_r overflow">
      <img src="/img/foot_banner.gif" alt="">
    </p>
  </div>
  <!--//width_area-->

</div>
